<h1>this is the about page</h1>

<!-- The <% %> are ruby code, <%= %> is rendered code, so it will be visible on the site -->
<%= link_to "Home", root_path %>
About
<%= link_to 'Sign Up', sign_up_path %>
