<h1> this will be the sign up page</h1>


<!-- The <% %> are ruby code, <%= %> is rendered code, so it will be visible on the site -->
<%= link_to 'home', root_path %>
<%= link_to 'About', about_path %>
Sign Up
